*{
    margin: 0;
  
}
body{
    background-image: url("assets/background.jpg");
    display: flex;
    max-width: 0;
    max-height: 380px;
   
    

   
}
.divdafoto{
    position:absolute; top: 100px; right: 1135px; 
    border-radius: 50px;
    border:4px solid white;
    
}

div{
    background-color: white;
    border-radius: 20px;
    
    
}
.imgtopo{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 70px;
}
img{
    border-radius: 50px; 
      
}